body {
    overflow: hidden;
}

.container {
    width: 100%;
    position: relative;
}

.item {
    width: 80px;
    height: 80px;
    background: lightgray;
    border: solid gray 5px;
    transition: background 0.3s, border 0.3s;
    position: absolute;
}

@-webkit-keyframes around1 {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 500px;
        left: 0px;
    }
    50% {
        top: 500px;
        left: 500px;
    }
    75% {
        top: 0px;
        left: 500px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

@keyframes around1 {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 500px;
        left: 0px;
    }
    50% {
        top: 500px;
        left: 500px;
    }
    75% {
        top: 0px;
        left: 500px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

@-webkit-keyframes around2 {
    0% {
        top: 500px;
        left: 0px;
    }
    25% {
        top: 500px;
        left: 500px;
    }
    50% {
        top: 0px;
        left: 500px;
    }
    75% {
        top: 0px;
        left: 0px;
    }
    100% {
        top: 500px;
        left: 0px;
    }
}

@keyframes around2 {
    0% {
        top: 500px;
        left: 0px;
    }
    25% {
        top: 500px;
        left: 500px;
    }
    50% {
        top: 0px;
        left: 500px;
    }
    75% {
        top: 0px;
        left: 0px;
    }
    100% {
        top: 500px;
        left: 0px;
    }
}

@-webkit-keyframes around3 {
    0% {
        top: 500px;
        left: 500px;
    }
    25% {
        top: 0px;
        left: 500px;
    }
    50% {
        top: 0px;
        left: 0px;
    }
    75% {
        top: 500px;
        left: 0px;
    }
    100% {
        top: 500px;
        left: 500px;
    }
}

@keyframes around3 {
    0% {
        top: 500px;
        left: 500px;
    }
    25% {
        top: 0px;
        left: 500px;
    }
    50% {
        top: 0px;
        left: 0px;
    }
    75% {
        top: 500px;
        left: 0px;
    }
    100% {
        top: 500px;
        left: 500px;
    }
}

@-webkit-keyframes around4 {
    0% {
        top: 0px;
        left: 500px;
    }
    25% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: 500px;
        left: 0px;
    }
    75% {
        top: 500px;
        left: 500px;
    }
    100% {
        top: 0px;
        left: 500px;
    }
}

@keyframes around4 {
    0% {
        top: 0px;
        left: 500px;
    }
    25% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: 500px;
        left: 0px;
    }
    75% {
        top: 500px;
        left: 500px;
    }
    100% {
        top: 0px;
        left: 500px;
    }
}

.moving1 {
    -webkit-animation: around1 15s infinite; 
    animation: around1 15s infinite; 
}

.moving2 {
    -webkit-animation: around2 15s infinite; 
    animation: around2 15s infinite; 
}

.moving3 {
    -webkit-animation: around3 15s infinite; 
    animation: around3 15s infinite; 
}

.moving4 {
    -webkit-animation: around4 15s infinite; 
    animation: around4 15s infinite; 
}

.center {
    top: 250px;
    left: 250px;
}

.item.focused {
    background: lightgreen;
    border: solid green 5px;
}

.debug-point {
    position: absolute;
    width: 3px;
    height: 3px;
    box-shadow: black 0px 0px 5px;
    background: yellow;
    border-radius: 2px;
    pointer-events: none;
}

